---
title: Facilities Overview
---

%h1= current_page.data.title
%p The BioCirc Laboratory is located in the Bossone Research Enterprise Center on the fifth floor in Room 525. This 825 sq. ft. of space houses all of our engineering, fluid dynamics, and programming projects. This lab is supported by our equipment, such as the Transonic Tubing Flow Module and Tektroniks Oscilloscope, as well as by our software, including MATLAB and Solidworks.
=image_tag "bossone.png"