---
title: Community Outreach
---

%h1= current_page.data.title

%h3 Student Leadership Team
=image_tag "communityoutreach_leadership_pie.png"
%h3 Bench-to-Bench: Donations to Local Schools and Parks
%p Details Forthcoming!
%h3 Motivational Talk to GEMS Camp
=image_tag "community-outreach.jpg"
