---
title: Community Outreach
---

%h1= current_page.data.title

%p
	Dr. Throckmorton hosted the girls from GEMS (Girls in Engineering, Mathematics, and Science) Summer Program through the Governor's Academy for Engineering Studies at Lloyd C. Bird. She gave a motivational talk about the career possiblities through an enigneering educaiton and her current research endeavors.
=image_tag "community-outreach.jpg"