---
title: Funding
---

%h1= current_page.data.title
%ul
	%li Philadelphia-University Consortium, including Drexel University, The Children's Hospital of Philadelphia, and Hebrew University, for Innovative Pediatric Research ($250,000), 9/14-8/16, A.L. Throckmorton (PI)
	%li The Children's Hospital of Philadelphia, Biobag Design and Manufacturing: Artificial Placenta ($85,000), 9/14-8/16, A.L. Throckmorton (PI)
	%li Frederick Banting Foundation, Clinical Feasibility Study of External Pulsation on Fontan Patients, Gift Award ($18,150), 1/23/13-1/22/14, A.L. Throckmorton (PI)
	%li U.S. Department of Education, Graduate Assistance in Areas of National Need (GAANN) Grant ($922,919), 8/09-12/13, A.L. Throckmorton (Co-Director)
	%li Virginia Commonwealth University School of Medicine, AD Williams Grant ($15,000), 7/1-6/30/12, A.L. Throckmorton (Co-PI)
	%li Financial Support for VCU Internal Combustion Concept (ICC) Student Organization, Gift Award ($2,880), 2/1/11-8/13, A.L. Throckmorton (PI)
	%li National Science Foundation, BRIGE Award ($172,317), 8/08-7/10, A.L. Throckmorton (PI)
	%li American Heart Association Mid-Atlantic Beginning Grant-in-Aid Award ($132,000), 7/08-6/10, A.L. Throckmorton (PI)
	%li Thomas F. Jeffress and Kate M. Jeffress Memorial Trust, Research Grant, Phase I and II ($40,000), 1/08-12/09, A.L. Throckmorton (PI)
	%li National Science Foundation, ADVANCE Leadership Award ($190,613), 7/08-10/09, A.L. Throckmorton (Co-PI)
	%li Oak Ridge Associated Universities Ralph E. Powe Junior Faculty Enhancement Award ($10,000), 6/09-5/10, A.L. Throckmorton (PI)
	%li Qimonda Pilot Project for Junior Faculty in the School of Engineering Virginia Commonwealth University ($5,000), 4/08-3/09, A.L. Throckmorton (PI)
	%li Virginia Commonwealth University Small Grant Award from the Center for Teaching Excellence, Visualization and Computation for 21st Century Junior Engineers ($1,595), 1/08-8/08, A.L. Throckmorton (PI)