---
title: Institutional Partners
---

%h1= current_page.data.title
%h3 Children's Hospital of Philadelphia
%ul.unstyled
	%li.hanging
		Robert Levy, MD
		%br
		William J. Rashkind Endowed Chair in Pediatric Cardiology,
		%br
		Professor of Pediatrics, Perelman School of Medicine at the University of Pennsylvania
	%li.hanging
		Alan Flake, MD
		%br
		Professor of Surgery, Obstetrics and Gynecology in the Perelman School
		of Medicine at the University of Pennsylvania and CHOP
		%br
		Director of the General Surgery Fellowship Program,
		%br
		Director of the Center for Fetal Research,
	%li.hanging
		Ruth M. and Tristram C. Colket Jr. Endowed Chair of Pediatric Surgery
	%li.hanging
		Matthew Gillespie, MD, Associate Professor, Pediatric Cardiology
	%li.hanging
		David Goldberg, MD, Assistant Professor, Pediatric Cardiology
	%li.hanging
		Kevin Whitehead, MD, PhD, Assistant Professor, Pediatric Cardiology
	%li.hanging
		Joseph Rossano, MD, Assistant Professor, Pediatric Cardiology
	%li.hanging
		Marcus Davey, PhD, Research Assistant Professor, Dept. of Surgical Research

%h3 Drexel University
%ul.unstyled
	%p.category
		%strong
			College of Computing and Informatics
	%li.hanging Ellen Bass, PhD, Professor

	%p.category
		%strong
			College of Engineering Machine Shop
	%li.hanging Mark Shiber, Director
	%li.hanging Scott Eichmnn, CNC Machinist
	%li.hanging Nick Catucci, Machinist/Tool Maker

	%p.category
		%strong
			College of Nursing and Health Professions
	%li.hanging Maggie O'Neil, PhD, Associate Professor
	%li.hanging Ellen Bass, PhD, Professor and Chair (dual appt)
	%li.hanging Rose Ann DiMaria-Ghalili, PhD, RN, Associate Professor

	%p.category
		%strong
			Mechanical Engineering & Mechanics
	%li.hanging
		Alisa Morss-Clyne, PhD, Associate Professor

	%p.category
		%strong
			School of Biomedical Engineering, Science and Health Systems
	%li.hanging
		Kara Spiller, PhD, Assistant Professor
	%li.hanging
		Sri Balasubramanian, PhD, Associate Professor

	%p.category
		%strong
			St. Christopher's Hospital for Children
	%li.hanging
		Randy Stevens, MD, Pediatric Heart Surgery

%h3 Hebrew University
%ul.unstyled
	%p.category
		%strong School of Pharmacy - Institute for Drug Research
	%li.hanging
		Avi Domb, PhD, Professor, Medicinal Chemistry and Biopolymers
	%li.hanging
		Amnon Hoffman, PhD, Professor of Clinical Pharmacy and Pharmaceutics

%h3 Georgia Institute of Technology
%ul.unstyled
	%li.hanging Ajit Yoganathan, Regents Professor, Bioengineering

%h3 Penn State University
%ul.unstyled
	%li.hanging
		William Weiss, PhD, Howard E. Morgan Professor of Surgery and Bioengineering
	%li.hanging
		Gerson Rosenberg, PhD, Jane A. Fetter Professor of Surgery, Professor of Surgery
		and Bioengineering, Chief of the Division of Artificial Organs

%h3 University of Louisville
%ul.unstyled
	%p.category
		%strong
			Cardiovascular Innovation Institute
	%li.hanging
		Mark Slaughter, MD
		%br
		Professor and Chief, Division of Thoracic and Cardiovascular Surgery
	%li.hanging
		George Pantalos, PhD, Professor of Surgery and Bioengineering

%h3 University of Virginia
%ul.unstyled
	%p.category
		%strong School of Engineering and Applied Science
	%li.hanging J. Milton Adams, PhD, Professor, Biomedical Engineering
	%li.hanging Paul Allaire, PhD, Professor Emeritus, Mechanical and Aerospace Engineering
	%li.hanging Houston Wood, PhD, Professor, Mechanical and Aerospace Engineering
	%li.hanging Wei Jiang, PhD, Research Scientist, Mechanical and Aerospace Engineering

	%p.category
		%strong School of Medicine
	%li.hanging James Gangemi, MD, Assistant Professor, Surgery
	%li.hanging D. Scott Lim, MD, Assistant Professor, Pediatric Cardiology
	%li.hanging Bob Battle, MD, Assistant Professor, Adult Congenital Cardiology

%h3 Virginia Commonwealth University
%ul.unstyled
	%p.category
		%strong School of Medicine
	%li.hanging Bill Moskowitz, MD, Chair of Pediatric Cardiology
	%li.hanging Scott Gullquist, MD, Associate Professor, Pediatric Cardiology
	%li.hanging John Grizzard, MD, Assistant Professor, Radiology
	%li.hanging Sam Lee, MD, Assistant Professor, Pediatric Cardiology

%h3 Virginia Polytechnic Institute and State University
%ul.unstyled
	%li.hanging Alexandrina Untaroiu, PhD, Research Scientist, Mechanical and Aerospace Engineering