---
title: Institutional Partners
---

%h1= current_page.data.title

%h3 Drexel University
%ul.unstyled
	%p.category
		%strong Cardiothoracic Surgery
	%li
		J. Yasha Kresh, PhD,
		Professor of Cardiothoracic Surgery
	%li
		Glenn Laub, MD, Chair and Professor, Cardiothoracic Surgery

	%p.category
		%strong St. Christopher's Hospital for Children
	%li
		Randy Stevens, PhD, Pediatric Heart Surgery

	%p.category
		%strong
			College of Computing and Informatics and
			%br
			College of Nursing and Health Professions
	%li Ellen Bass, PhD, Professor

%h3 Children's Hospital of Pennsylvania
%ul.unstyled
	%li.hanging
		Robert Levy, MD
		%br
		William J. Rashkind Endowed Chair in Pediatric Cardiology,
		%br
		Professor of Pediatrics, Perelman School of Medicine at the University of Pennsylvania
	%li.hanging
		Alan Flake, MD
		%br
		Professor of Surgery, Obstetrics and Gynecology in the Perelman School
		of Medicine at the University of Pennsylvania and CHOP
		%br
		Director of the General Surgery Fellowship Program,
		%br
		Director of the Center for Fetal Research,
	%li
		Ruth M. and Tristram C. Colket Jr. Endowed Chair of Pediatric Surgery
	%li
		Matthew Gillespie, MD, Associate Professor, Pediatric Cardiology
	%li
		David Goldberg, MD, Assistant Professor, Pediatric Cardiology
	%li
		Kevin Whitehead, MD, PhD, Assistant Professor, Pediatric Cardiology
	%li
		Joseph Rossano, MD, Assistant Professor, Pediatric Cardiology
	%li.hanging
		Marcus Davey, PhD, Research Assistant Professor, Dept. of Surgical Research

%h3 Georgia Institute of Technology
%ul.unstyled
	%li Zhenglun Wei, PhD, Research Fellow, Biomedical Engineering
	%li Ajit Yoganathan, Regents Professor, Bioengineering

%h3 Hebrew University
%ul.unstyled
	%p.category
		%strong School of Pharmacy- Institute for Drug Research
	%li
		Avi Domb, PhD, Professor, Medicinal Chemistry and Biopolymers
	%li
		Amnon Hoffman, PhD, Professor of Clinical Pharmacy and Pharmaceutics

%h3 Penn State University
%ul.unstyled
	%li.hanging
		William Weiss, PhD, Howard E. Morgan Professor of Surgery and Bioengineering
	%li.hanging
		Gerson Rosenberg, PhD, Jane A. Fetter Professor of Surgery, Professor of Surgery
		and Bioengineering, Chief of the Division of Artificial Organs

%h3 Virginia Commonwealth University
%ul.unstyled
	%p.category
		%strong School of Medicine
	%li Bill Moskowitz, MD, Chair of Pediatric Cardiology
	%li Scott Gullquist, MD, Associate Professor, Pediatric Cardiology
	%li John Grizzard, MD, Assistant Professor, Radiology

%h3 University of Virginia
%ul.unstyled
	%p.category
		%strong School of Medicine
	%li James Gangemi, MD, Assistant Professor, Surgery
	%li D. Scott Lim, MD, Assistant Professor, Pediatric Cardiology
	%li Bob Battle, MD, Assistant Professor, Adult Congenital Cardiology

	%p.category
		%strong School of Engineering and Applied Science
	%li.hanging J. Milton Adams, PhD, Professor, Biomedical Engineering
	%li.hanging Paul Allaire, PhD, Professor Emeritus, Mechanical and Aerospace Engineering
	%li.hanging Houston Wood, PhD, Professor, Mechanical and Aerospace Engineering
	%li.hanging Wei Jiang, PhD, Research Scientist, Mechanical and Aerospace Engineering
	%li.hanging Alexandrina Untaroiu, PhD, Research Scientist, Mechanical and Aerospace Engineering