---
title: Institutional Partners
---

%h1= current_page.data.title

%h3 Drexel University
%ul.unstyled
	%h6 Cardiothoracic Surgery
	%li
		J. Yasha Kresh, PhD, Professor of Cardiothoracic Surgery

	%h6 St. Christopher's Hospital for Children
	%li
		Randy Stevens, PhD, Pediatric Heart Surgery

	%h6 College of Computing and Informatics
	%h6 College of Nursing and Health Professions
	%li Ellen Bass, PhD, Professor

%h3 Children's Hospital of Pennsylvania
%ul.unstyled
	%li
		Robert Levy, MD, William J. Rashkind Endowed Chair in Pediatric Cardiology, Professor of
		Pediatrics, Perelman School of Medicine at the University of Pennsylvania
	%li
		Alan Flake, MD, Professor of Surgery, Obstetrics and Gynecology in the Perelman School
		of Medicine at the University of Pennsylvania and CHOP, Director of the General
		Surgery Fellowship Program, Director of the Center for Fetal Research,
	%li
		Ruth M. and Tristram C. Colket Jr. Endowed Chair of Pediatric Surgery
	%li
		Matthew Gillespie, MD, Associate Professor, Pediatric Cardiology
	%li
		David Goldberg, MD, Assistant Professor, Pediatric Cardiology
	%li
		Kevin Whitehead, MD, PhD, Assistant Professor, Pediatric Cardiology
	%li
		Joseph Rossano, MD, Assistant Professor, Pediatric Cardiology
	%li
		Marcus Davey, PhD, Research Assistant Professor, Dept. of Surgical Research

%h3 Georgia Institute of Technology
%ul.unstyled
	%li Ajit Yoganathan, Regents Professor, Bioengineering

%h3 Hebrew University
%ul.unstyled
	%h6 School of Pharmacy- Institute for Drug Research
	%li
		Amnon Hoffman, PhD, Professor of Clinical Pharmacy and Pharmaceutics

%h3 Penn State University
%ul.unstyled
	%li
		William Weiss, PhD, Howard E. Morgan Professor of Surgery and Bioengineering
	%li
		Gerson Rosenberg, PhD, Jane A. Fetter Professor of Surgery, Professor of Surgery
		and Bioengineering, Chief of the Division of Artificial Organs

%h3 University of Maryland
%ul.unstyled
	%li
		Bart Griffith, MD, Professor of Surgery and Chief of Cardiac Surgery
	%li
		Jon Wu, PhD, Associate Professor of Surgery

%h3 Virginia Commonwealth University
%ul.unstyled
	%h6 School of Engineering
	%li Rosalyn Hobson, PhD, Associate Professor, Electrical and Computer Engineering
	%li Gary Bowlin, PhD, Professor, Biomedical Engineering

	%h6 School of Medicine
	%li Bill Moskowitz, MD, Chair of Pediatric Cardiology
	%li Scott Gullquist, MD, Associate Professor, Pediatric Cardiology
	%li John Grizzard, MD, Assistant Professor, Radiology

%h3 University of Virginia
%ul.unstyled
	%h6 School of Medicine
	%li James Gangemi, MD, Assistant Professor, Surgery
	%li D. Scott Lim, MD, Assistant Professor, Pediatric Cardiology
	%li Bob Battle, MD, Assistant Professor, Adult Congenital Cardiology

	%h6 School of Engineering and Applied Science
	%li J. Milton Adams, PhD, Professor, Biomedical Engineering
	%li Paul Allaire, PhD, Professor Emeritus, Mechanical and Aerospace Engineering
	%li Houston Wood, PhD, Professor, Mechanical and Aerospace Engineering
	%li Wei Jiang, PhD, Research Scientist, Mechanical and Aerospace Engineering
	%li Alexandrina Untaroiu, PhD, Research Scientist, Mechanical and Aerospace Engineering