---
title: Publications
---

%h1= current_page.data.title

%h4 2015
%ol
	%li
		S. G. Chopski, C. S. Fox, M. L. Riddle, K. L. McKenna, J. Patel, and J. Rozolis, and A. L. Throckmorton. “Experimental Performance Testing of New Intravascular Blood Pump Designs for Fontan Patients.” Artificial Organs. 2015. In Press.
	%li
		D. H. Kafagy, T. W. Dwyer, K. L. McKenna, J. P. Mulles, S. G. Chopski, W. B. Moskowitz, and A. L. Throckmorton. “Design of Axial Blood Pumps for Patients with Dysfunctional Fontan Physiology: Computational Studies and Performance Testing.” Artificial Organs. 2015. Vol. 39 (1). Pp 34-42.

	%li
		S.G. Chopski, O.M. Rangus, W.B. Moskowitz, and A.L. Throckmorton. "Experimental Measurements of Energy Augmentation for Mechanical Circulatory Assistance in a Patient-Specific Fontan Model." Artificial Organs 2014, In press.

%h4 2014
%ol
	%li
		D.H. Kafagy, T.W. Dwyer, K.L. McKenna, J.P. Mulles, S.G. Chopski, W.B. Moskowitz, and A.L. Throckmorton. "Simulations and Experiments in the Design of Axial Blood Pumps for Patients with Complex Congenital Cardiac Malformations." Artificial Organs 2014, Accepted pending revisions.
	%li
		S.G. Chopski, O.M. Rangus, E.A. Downs, W.B. Moskowitz, and A.L. Throckmorton. "Three-Dimensional Laser Flow Measurements of a Patient-Specific Fontan Physiology with Mechanical Circulatory Assistance." Artificial Organs 2014, In press.
	%li
		S.G. Chopski, O.M. Rangus, C.S. Fox, W.B. Moskowitz, and A.L. Throckmorton. "Stereo-PIV Measurements of a Patient-Specific Fontan Physiology using Novel Pressure Augmentation Stents." Artificial Organs 2014, In press.

%h4 2013
%ol
	%li
		A.L. Throckmorton, S.S. Bhavsar, S.G. Chopski, and W.B. Moskowitz. "Pneumatically-Driven External Pressure Applicator to Augment Fontan Hemodynamics: Preliminary Findings." Transl Pediatr 2013; 2(4): 148-153. Accepted "As-is" for publication.
	%li
		A.L. Throckmorton, S.A. Tahir, S. Lopes, O.M. Rangus, and M.G. Sciolino. "Steady and Transient Flow Analysis of a Magnetically Levitated Pediatric VAD: Time Varying Boundary Conditions." Int J Artif Organs 2013; 36(10): 693 - 699.
	%li
		A.L. Throckmorton, S. Lopez-Isaza, and W.B. Moskowitz. "Dual-Blood Pump Support for Mechanical Assistance of the Fontan Physiology." Artificial Organs 2012, Artificial Organs 2013; 37(6): 513-22.
	%li
		A.L. Throckmorton, S. Lopez-Isaza, E.A. Downs, S.G. Chopski, J.J. Gangemi, and W.B. Moskowitz. "A Viable Therapeutic Option: Mechanical Circulatory Support of the Failing Fontan Physiology." Pediatr Cardiol 2013; 34(6): 1357-65. Accepted "As-is" for publication.
	%li
		S.A. Tahir, W.B. Moskowitz, and A.L. Throckmorton. "Numerical Analysis of Protective Cage Geometries for Mechanical Cavopulmonary Assistance in a Patient-Specific Fontan Physiology." J Med Biol Eng 2013; 33(3): 257-262.
%h4 2012
%ol
	%li
		E.A. Downs, W.B. Moskowitz, and A.L. Throckmorton. "Steady Flow Analysis of Mechanical Cavopulmonary Assistance in MRI-Derived Patient-Specific Fontan Configurations," Artificial Organs 2012; 36(11): 972-80.
	%li
		A.L. Throckmorton, J.P. Carr, W.B. Moskowitz, J.J. Gangemi, C.M. Haggerty, A.P. Yoganathan. "Uniquely Shaped Cardiovascular Stents Enhance the Pressure Generation of Intravascular Blood Pumps." J Thoracic Cardiovasc Surg 2012; 144(3): 704-709. Accepted "As-is" for publication.
	%li
		A.L. Throckmorton, E.A. Downs, J.A. Hazelwood, J.O. Monroe, and S.G. Chopski. "Twisted Cardiovascular Cages for Intravascular Axial Flow Blood Pumps to Support the Fontan Physiology." Int J Artif Organs 2012; 35(5): 360-368.
	%li
		A.L. Throckmorton, M.G. Sciolino, E.A. Downs, R.S. Saxman, S. Lopez-Isaza, and W.B. Moskowitz. "Controlled Pitch-Adjustment of Impeller Blades for an Intravascular Blood Pump." ASAIO J 2012; 58(4): 382-389.


%h4 2011
%ol
	%li
		S.G. Chopski, E. Downs, C.M. Haggerty, A.P. Yoganathan, and A.L. Throckmorton. "PIV Measurements of an Idealized Total Cavopulmonary Connection with Mechanical Circulatory Assistance." Artificial Organs 1. 2011; 35(11): 1052-1064.
	%li
		A.L. Throckmorton, J.P. Carr, S.A. Tahir, R. Tate, E.A. Downs, S.S. Bhavsar, Y. Wu, J.D. Grizzard, and W.B. Moskowitz. "Mechanical Cavopulmonary Assistance of a Patient-Specific Fontan Physiology: Numerical Simulations, Lumped Parameter Modeling, and Suction Experiments." Artificial Organs 2011; 35(11): 1036-1047.
	%li
		A.L. Throckmorton, J.Y. Kapadia, S.G. Chopski, S.S.	Bhavsar, W.B. Moskowitz, S.D. Gullquist, J.J. Gangemi, C.M.	Haggerty, and A.P. Yoganathan. "Numerical, Hydraulic, and Hemolytic Evaluation of an Intravascular Axial Flow Blood Pump to Mechanically Support Fontan Patients." Ann Biomed Engr 2011; 39(1): 324-336.
	%li
		A.L. Throckmorton, J.Y. Kapadia, J.P. Carr, C.M. Powell, R.D. Tate, and D.V. Traynham. "Flexible Impeller Pump for Intravascular Cavopulmonary Assistance of the Fontan Physiology." Cardiovascular Engineering and Technology 2011; 1(4): 244-255.

%h4 2010
%ol
	%li
		A.L. Throckmorton, T.M. Wittenschlaeger, J.Y. Kapadia, T.J. Medina, H.Q. Hoang, and S.S. Bhavsar. "Filament Support Spindle for an Intravascular Cavopulmonary Assist Device." Artificial Organs 2010; 34(11): 1039-1044.
	%li
		S.S. Bhavsar, W.B. Moskowitz, and A.L. Throckmorton. "Interaction of an Idealized Cavopulmonary Circulation with Mechanical Circulatory Assist using an Intravascular Rotary Blood Pump." Artificial Organs 2010; 34(10): 816-827.
	%li
		1.J.Y. Kapadia, K.C. Pierce, A.K. Poupore, and A.L. Throckmorton. "Hydraulic Testing of Intravascular Axial Flow Blood Pump Designs with a Protective Cage of Filaments for Mechanical Cavopulmonary Assist." ASAIO J 2010; 56: 17-23.

%h4 2009
%ol
	%li
		S.S. Bhavsar, J.Y. Kapadia, S.G. Chopski, and A.L. Throckmorton. "Intravascular Mechanical Cavopulmonary Assistance for Patients with Failing Fontan Physiology." Artificial Organs 2009; 33(11): 977-987.
	%li
		A.L. Throckmorton and R.A. Kishore. "Design of a Protective Cage of Filaments for an Axial Flow Blood Pump for Intravascular Cavopulmonary Assist." Artificial Organs 2009; 33(8): 611-621.

%h4 2008
%ol
	%li
		A.L. Throckmorton, J. Kapadia, and D. Madduri. "Mechanical Axial Flow Blood Pump to Support the Cavopulmonary Circulation." Int J Artif Organs 2008; 31(11): 970-982.
	%li
		A.L. Throckmortonand S.G. Chopski. "Pediatric Circulatory Support Systems: Current Strategies and Future Directions. Biventricular and Univentricular Mechanical Assistance." ASAIO J 2008; 54: 591-497.
	%li
		A.L. Throckmorton and A. Untaroiu. "CFD Analysis of a Mag-Lev Ventricular Assist Device for Infants and Children: Fourth Generation Design." ASAIO J 2008; 54: 423-431.
	%li
		A.L. Throckmorton, K.K. Ballman, C.D. Myers, S.H. Frankel, J.W. Brown, and M.D. Rodefeld. "Performance of an Expandable Propeller Pump for Cavopulmonary Assist in a Univentricular Fontan Circulation." Ann Thorac Surg 2008; 86: 1343-47.

%h4 2007
%ol
	%li
		A.L. Throckmorton, C.D. Myers, K.K. Ballman, S.H. Frankel, K. Litwak, and M.D. Rodefeld. "Mechanical Cavopulmonary Assist for the Univentricular Fontan Circulation using a Novel Folding Propeller Blood Pump." ASAIO J 2007; 53: 734-741.
	%li
		A.L. Throckmorton, A. Untaroiu, P.E. Allaire, H.G. Wood, D.S. Lim, M.A. McCulloch, and D.B. Olsen. "Numerical Design and Experimental Hydraulic Testing of an Axial Flow VAD for Infants and Children." ASAIO J 2007; 53: 754-761.
	%li
		A.L. Throckmorton, A. Untaroiu, D.S. Lim, H.G. Wood, and P.E. Allaire. "Fluid Force Predictions and Experimental Measurements for a Magnetically Levitated Pediatric VAD." Artificial Organs 2007; 31(5): 359-368.

%h4 2005
%ol
	%li
		A. Untaroiu, H.G. Wood, P.E. Allaire, A.L. Throckmorton, S.W. Day, S.M. Patel, Ellman, C.G. Tribble, and D.B. Olsen. "Computational Design and Experimental Testing of a Novel Axial Flow LVAD" ASAIO J 2005; 51: 702-710.
	%li
		A.L. Throckmorton, D.S. Lim, M.A. McCulloch, W. Jiang, X. Song, P.E. Allaire, H.G. Wood, and D.B. Olsen. "Computational Design and Experimental Performance Testing of an Axial Flow Pediatric VAD." ASAIO J 2005; 51: 629-635.
	%li
		S.M. Patel, A.L. Throckmorton, A. Untaroiu, P.E. Allaire, H.G. Wood, and D.B. Olsen."The Status of Failure and Reliability Testing of Artificial Blood Pumps." ASAIO J 2005; 51: 440-451.
	%li
		A. Untaroiu,A.L. Throckmorton, H.G. Wood, P.E. Allaire, and D.B. Olsen. "Numerical and Experimental Analysis of an Axial Flow LVAD: The Influence of the Diffuser on the Overall Pump Performance." Artificial Organs 2005; 29(7): 581-91.
	%li
		S.M. Patel, P.E. Allaire, H.G. Wood, A.L. Throckmorton, C.G. Tribble, and D.B. Olsen. "Methods of Failure and Reliability Assessment of Mechanical Heart Pumps." Artificial Organs 2005; 29(1): 15-25. Recognized as one of the top 10 articles viewed online in 2005 at Blackwell Synergy Pub.
	%li
		H.G. Wood,A.L. Throckmorton, A. Untaroiu, and X. Song. "The Medical Physics of Ventricular Assist Devices." Rep. Prog. Phys. 2005; 68: 1-32. Recognized as one of the most frequently downloaded papers of 2005 by the journal.

%h4 2004
%ol
	%li
		X. Song,A.L. Throckmorton, H.G. Wood, and D.B. Olsen. "Transient and Quasi-steady CFD Studies of a Left Ventricular Assist Device." ASAIO J 2004; 50: 410-417.
	%li
		A.L. Throckmorton, A. Untaroiu, P.E. Allaire, H.G. Wood, G.P. Matherne, D.S. Lim, B.B. Peeler, and D.B. Olsen. "Computational Analysis of an Axial Flow Pediatric Ventricular Assist Device." Artificial Organs 2004; 28(10): 881-891.
	%li
		X. Song, A.L. Throckmorton, H.G. Wood, J.F. Antaki, and D.B. Olsen. "Quantitative Evaluation of Blood Damage in a Centrifugal VAD by Computational Fluid Dynamics." J Fluids Engineering 2004; 126: 410-418.
	%li
		X. Song, H.G. Wood, P.E. Allaire, A. Untaroiu, S.W. Day, A.L. Throckmorton, and D.B. Olsen. "Design and Transient CFD Study of a Continuous Axial Flow VAD." ASAIO J 2004; 50: 215-224.

%h4 2003
%ol
	%li
		X. Song, A.L. Throckmorton, H.G. Wood, J.F. Antaki, and D.B. Olsen. "CFD Prediction of Blood Damage in a Centrifugal Pump." Artificial Organs 2003; 27(10): 938-941.
	%li
		A.L. Throckmorton, H.G. Wood, S.W. Day, X. Song, P.C. Click, P.E. Allaire, and D.B. Olsen. "Design of a Continuous Flow Pediatric Ventricular Assist Device." Int J Artif Organs 2003; 26(11): 1015-31.
	%li
		X. Song, A.L. Throckmorton, A. Untaroiu, S.M. Patel, P.E. Allaire, H.G. Wood, and D.B. Olsen. "Axial Flow Blood Pumps." ASAIO J 2003; 49: 355-364.

%h4 2002
%ol
	%li
		A.L. Throckmorton, P.E. Allaire, H.P. Gutgesell, G.P. Matherne, D.B. Olsen, H.G. Wood, J.H. Allaire, and S.M. Patel. "Pediatric Circulatory Support Systems." ASAIO J 2002; 48: 216-221.