---
title: Circulatory Augmentation
---

%h1{style: "font-size: 2.8rem"}= current_page.data.title
= image_tag "slideshow_circulatoryaugmentation.png"
%p
	%strong Pneumatically-driven External Pressure Applicator for Circulatory Augmentation in Fontan Patients

%p
	The biggest health challenge for ventricular assist devices is the lack of pressure available to properly and efficiently pump blood through the lungs. Over time, this may lead to morbidity and other major complications. Therefore, a major project of this lab is to study the use of noninvasive, circulatory augmentation garments on hemodynamics. This device applies pressure to the lower extremities of the body (legs and abdomen) in a pulsating fashion with the goal of augmenting systemic blood flow to the pulmonary arteries. This in turn reduces ventricular workload, increases venous return and pulmonary perfusion, and reduces cardiac after load. The goal of the external circulatory augmentation garment is to provide patients with a therapeutic medical device for use at home to alleviate some cardiac workload thus providing a preventative approach to combat the ensuing Failing Fontan physiology.