---
title: Collapsible Impeller
---

%h1= current_page.data.title
%p
	%strong
		Collapsible Impeller for Fontan Pump
%p
	The BioCirc Lab is developing new treatment options for those with dysfunctional cardiovascular physiology, especially those with congenital heart defects. The majority of blood pumps utilize impellers that are constructed of titanium; these solid impellers have a single best-efficiency design point. The operation of blood pumps, however, is dynamic. Thus, the frequency of blood pump operation off-design is very high. When blood flow enters the impeller region at off-design conditions, it is unusually torqued, leading to high shear stresses and irregular blood flow patterns, and hydraulic efficiency is reduced. To address this limitation, we are integrating pitch-adjustment to allow movement along best-efficiency design points. In addition, we seek to percutaneously place these devices within blood vessels at strategic locations. Currently, we are developing a collapsible, pitch adjusting impeller as a blood pump. Designs for novel collapsible impellers have been prototyped, hydraulically tested, and initially optimized. Work is ongoing to optimize the device design in preparation for animal studies. Provisional patent protection has been secured for this new technology.
