---
title: Collapsible Impeller
---

%h1= current_page.data.title
%p
	%strong
		Collapsible Impeller for Fontan Pump
%p
	As a group, our focus is on developing treatment options for those with dysfunctional cardiac systems.  Previous studies using solid impellers have optimized impeller geometry for increased pressure generation and flow.  Other studies have tested the feasibility of pitch adjusting impeller for customization to individual physiology.  Currently with this project, we are developing a collapsible, pitch adjusting impeller for a heart pump intended to treat patients who have undergone the fontan procedure to treat congenital heart defects. The pump hopes to fulfill the void of treatment options for those with declining conditions post procedures.  Through research, designs for novel collapsible impellers have been prototyped, hydraulically tested, and optimized.
%p
	Previous iterations were prototyped using multiple components. The most recent iteration incorporates a novel material to create a single solid body design.  Current work includes evaluation of the latest iteration with hydraulic and hemolytic studies.  Completion of this project will deliver a collapsible impeller for intravascular insertion.
