---
title: Dragon Heart
---

%h1= current_page.data.title
= image_tag "slideshow_tah.jpg"

%p
	The long term objective of this research is to develop a total artificial heart (TAH) that can supply life-saving opportunities for patients with small body surface areas (BSAs). Many children, women and Asians have BSAs that are too small to implant current mechanical circulatory assist devices, including LVADs, RVADs, and TAHs. Through this research, the design of a novel configuration for minimizing the TAH size is being generated, a test-rig has been custom designed and built to support hydraulic and hemolytic studies, and both the right and left ventricle pumps are being designed, optimized, prototyped, and computationally and hydraulically tested.
%p
	In initial testing both the right and left ventricle pumps performed above expectations. Both pumps were tested at a multitude or rotational speeds, displaying acceptable ranges of pressures and flows, encompassing many of the desired states for the target populations. This data serves as a strong foundation upon which to further develop this intra-corporeal total artificial heart. A successful completion of this research will lead to a novel and much needed option for heart failure patients with small BSAs.