---
title: External Compression Therapy
---

%h1{style: "font-size: 2.8rem"}= current_page.data.title
= image_tag "slideshow_circulatoryaugmentation.png"
%p
	%strong Pneumatically-driven External Pressure Applicator for Circulatory Augmentation in Fontan Patients

%p
	Thousands of Americans contend with functional limitations and other major complications associated with acquired or congenital heart disease. These patients could benefit from a pressure boost to augment blood flow through the lungs and body. In an effort to provide an alternative treatment strategy for these patients that is minimally invasive, we are investigating the use of external circulatory compression garments to improve cardiovascular hemodynamics. This device applies circumferential pressure to the lower extremities of the body (legs and abdomen) in a pulsating fashion with the goal of augmenting systemic venous return. This will reduce ventricular workload and pulmonary perfusion, lower cardiac afterload, and improve functional and exercise capacity. We will provide patients with a new therapeutic medical device for use at-home as a preventative strategy, thus slowing the rate of cardiovascular decline.