---
title: Facilities
---

%h1= current_page.data.title
%p
	A laboratory space of 900 square feet in the School of Biomedical Engineering, Science and Health Systems at Drexel University is dedicated for the development of new medical devices for pediatric and adult patients with heart failure. Computationally, this lab has 10 Dell Precision Workstations to support device design using SolidWorks and the execution of serial and parallel processor simulations using ANSYS CFX software. Experimentally, a modular in-design test-rig is available for hydraulic performance evaluation of all prototypes; this can be accomplished within hours of prototype delivery. The modular loop consists of inlet and outlet reservoirs, drive shaft, a motor, its controller, power supply, Validyne differential pressure transducers, Transonic flow probes, tubing clamp for flow control, and a digital micrometer for accurate axial positioning of the prototype. Another flow loop in the lab is available for hemolytic studies of the pump prototypes. Fluid property determinations are made using a Fenske-Cannon viscometer and a hydrometer. A chemical hood and butane burner / torch is available if any coating or unique welding of materials is required. Other equipment and instrumentation include: Hermle z300 Centrifuge, Haematokrit 210 Hettich Centrifuge, and ThermoScientific Gensys vis Spectrophotomer for hemolytic studies. Additional instrumentation and equipment are available for the design and construction of biobags with specific port locations.
= image_tag "facilities_disquehall.jpg"
%p.caption Disque Hall on Drexel's Campus
= image_tag "facilities1.jpg"
%p.caption These centrifuges and spectrophotometer are used to analyze blood samples.
= image_tag "facilities2.jpg"
%p.caption A top-down look at our flow loop during a blood study, seated in a heated water bath.
