---
title: Human Factors Engineering of Medical Devices
---

%h1{style: "font-size: 2.8rem;"}= current_page.data.title
=image_tag "human-factors-engineering.png"
%p

%p
	%strong
		A conceptual representation of our model-based approach to medical device usability analysis.

%p
	The human factors division of the BioCirc lab focuses on leveraging formal methods from computer science to augment human factors testing. We are currently developing a computational framework to support model-based analysis of user interfaces (including user manuals) within medical device systems as a proactive effort to help manufacturers of novel, lifesaving medical devices uncover and correct usability problems. The figure above shows a conceptual representation of the framework under development. Formal, mathematical models of the user manual, the device interface and the device plant (such as a heart pump) can be encoded, composed into a system, and analyzed exhaustively by a model checker to verify requirements that specify usability parameters. This work aims to improve user manual evaluation methods, galvanize formal human factors testing, and decrease occurrence rates of use-related adverse events, ultimately saving lives.