---
title: Lymphatic Pump
---

%h1= current_page.data.title

%p
	A novel booster pump for the low pressure lymphatic system is being developed in the BioCirc Lab as a novel treatment for patients having congestive heart failure and who experience fluid retention in the lymphatic system that can lead to further decompensation of the cardiovascular system. The fluid accumulation occurs mainly because of the increased venous pressure on the lymphatic release valve that resides between the thoracic duct and the subclavian vein. This increased back pressure on the release valve prevents lymph fluid from normal flow into the cardiovascular system and contributes to fluid accumulation in the lymphatic system. To achieve relief from congestion, the pressure exerted on the valve must be overcome such that lymph flow from the thoracic duct into the cardiovascular system is restored. We seek to accomplish this objective by designing an axial pump that will produce an output pressure of at least 20 mmHg and a physiologic output flow.