---
title: Mechanical Cavopulmonary Assistance
---

%h1{style: "font-size: 2.8rem;"}= current_page.data.title

%h2{style: "font-size: 1.8rem;"} Design and Experimental Testing of New Medical Device for Patients with Single Ventricle Physiology

%p Thousands of children are born each year with complex congenital heart defects. A subset of those patients has only one functional ventricle, require corrective cardiac surgeries, and endure long-term clinical treatment. These single ventricle patients experience a steady decline in cardiovascular function to premature congestive heart failure, and limited therapeutic options exist for them. To address this unmet need, the BioCirc Research Laboratory in the Drexel School of Biomedical Engineering is developing an intravascular axial flow blood pump for placement directly into blood vessel. This blood pump will augment pressure and blood flow from the systemic venous circulation through the lungs into the left atrium. It will act as an artificial right ventricle in patients lacking such a chamber. The target design is to generate a pressure rise of 2-25 mmHg for flow rates of 1-4 L/min at rotational speeds of 1000-9000 RPM. In support of this effort, this project involves design optimization and experimental testing of four different pump designs. The pump geometries were created using SolidWorks, providing a basis for prototyping. After the pumps were manufactured by 3D-printing, the devices were hydraulically tested using a blood analogue fluid. All prototypes delivered the requisite pressure and flow levels necessary to mechanically assist a single ventricle patient.

%h2{style: "font-size: 1.8rem;"}  Pitch-Adjustive Intravascular Blood Pump
=image_tag "research-overview-2.png"
%p A novel cardiovascular assist device is being designed as a catheter-based axial flow blood pump that can be implanted via percutaneous insertion through vein or artery. The blood pump is designed using fundamental pump design principles. It is intended to provide mechanical support for a biventricular circulation in normal human heart physiology or support for the venous and pulmonary systems in a univentricular circulation; the blood pump can be percutaneously placed in any location in the circulatory system.