---
title: Presentations
---

%h1= current_page.data.title

%ul
	%li
		=link_to "Mechanical Assistance for the Fontan Circulation using an Intravascular Axial Flow Blood Pump", "Post_Throckmorton_ASME2010ver3.pdf"
		[PDF]
	%li
		=link_to "Numerical Model of the Univentricular Fontan with Mechanical Cavopulmonary Assist", "Post_Throckmorton_ASAIO08_3margins.pdf"
		[PDF]
	%li
		=link_to "3-D Reconstructed Patient-Specific Cavopulmonary Connection with Mechanical Assistance in the IVC", "Bhavsar_Anatomical_ASAIO_2.pdf"
		[PDF]
	%li
		=link_to "Use of External Pressure Application to Augment Fontan Hemodynamics", "Bhavsar_MAST_ASAIO_w.pdf"
		[PDF]