---
title: Ventricular Assist Devices
---

%h2= current_page.data.title
= image_tag "VAD1.png"
%p.caption
	%strong Figure 1:  Clinical Implementation of the PVAD.
	The axial flow blood pump is placed in parallel with the native left ventricle with the inflow cannula inserted into the apex of the ventricle and the outlet cannula extending to the ascending aortic arch. SV: systemic ventricle; IVC: inferior vena cava; SVC: superior vena cava; PA: pulmonary artery.
%p
	The BioCirc Lab is also developing streamlined, low thrombus, ventricular assist devices (VADs) to provide mechanical support for both the systemic and pulmonary circulation for adult and pediatric patients.  Figure 1 below illustrates a pediatric VAD under development to augment blood flow from the native ventricle to mechanically support the systemic circulation in patients with single ventricle or biventricular circulations. The novelty of this design arises from its combined motor-magnetic suspension to levitate the rotor within the pump housing. This configuration enables a compact design of the magnetic suspension system, reducing power consumption and wire count. The PVAD has 4 internal fluid regions: 1) an inducer region with stationary blades on the housing to eliminate pre-rotation of the entering fluid and to house the magnetic bearings; 2) an impeller with uniquely shaped blades to impart kinetic energy to the fluid; 3) a stationary diffuser with curved blades mounted to the housing, which are designed to convert the kinetic energy to pressure; and 4) a flow straightener with stationary blades intended to guide flow into the outlet cannula. Figure 2 displays the conceptual design of the VAD. This blood pump is designed to produce 2.5 L/min and 70 mmHg at 8000 RPM. It has an overall operating range of 0.5-4 L/min and 50-95 mmHg at speeds of 6000-10,000 RPM.
= image_tag "slideshow_VAD2.png"
%p.caption
	%strong Figure 2:  Pump Geometric Characteristics (A) and Computational Model (B).
	The inducer region has 5 stationary blades mounted to the pump housing; the impeller has 3 helically shaped blades mounted to the rotor hub; the diffuser incorporated 4 staggered blades mounted to the housing, and the flow straightener consists of 4 axially straight blades mounted to the housing.
= image_tag "VAD_Rotating.gif"