---
title: Alumni
---

%h1= current_page.data.title

%ul
	%li Kyle Kramer, Biomedical Engineering, 2015
	%li John Rozolis, Biomedical Science, 2015
	%li Kelli McKenna, Mechanical Engineering, 2014
	%li Michelle Riddle, Biomedical Engineering, 2014