---
title: Alumni
---

%h1
  = current_page.data.title
  %br
  %small Graduates &amp; Degree Recipients

%ul
  %li Marina Lilieholm, BS/MS, Research Intern, 2017 (STAR Scholar)
  %li *Samantha Cassel, BS/MS, Research Intern, 2017
  %li *Andy Abbate, PhD, Biomedical Engineering, 2017   (co-advised with Bass CCI)
  %li *Andrew Ardire, MS, Research Intern, Biomedical Science, 2017
  %li *Tiffany Tse, BS/MS Thesis, Biomedical Engineering, 2016
  %li *Shravani Birewar, BS/MS Thesis, Biomedical Engineering, 2016
  %li Carson Fox, MS Thesis, Biomedical Engineering, 2015
  %li *Jay Patel, MS Thesis, Biomedical Engineering, 2015
  %li Emma Stenger, BS/MS, Research Intern, 2015  (STAR Scholar)
  %li Nohra Murad, BS/MS, Research Intern, 2015-2016 (STAR Scholar, Steinbright Research Co-Op)
  %li Sarah Haynes, BS/MS, Clinical Immersion Co-Op Fellow, 2015
  %li *Evan Lynn, BS/MS, Clinical Immersion Co-Op Fellow, 2015
  %li *Terence Joa, MS, Research Intern, Biomedical Engineering, 2015
  %li *Kyle Kramer, MS, Research Intern, Biomedical Engineering, 2015
  %li *John Rozolis, MS, Research Intern, Biomedical Science, 2015
  %li *Kelli McKenna, BS, Research Intern, Mechanical Engineering, 2014
  %li Michelle Riddle, BS, Research Intern, Biomedical Engineering, 2014  (STAR Scholar)


%p Note: * Graduated