---
title: Director
---

%h1= current_page.data.title

%h2 Amy L. Throckmorton, PhD
%p
	Associate Professor
	%br
	School of Biomedical Engineering
	%br
	Science and Health Systems
	%br
	Bossone Research Enterprise Center
	%br
	3141 Chestnut Street, Rm. 718
	%br
	Philadelphia, PA 19104
	%br
	E-mail:
	=mail_to "amy.throckmorton@drexel.edu"
	%br
	Phone: (215) 895-2791
	%br
	Cell: (757) 646-3790
	%br
	Fax: (215) 895-4983

%p
	Dr. Amy L. Throckmorton is Associate Professor and Director of the BioCirc Research Laboratory in the School of Biomedical Engineering, Science and Health Systems at Drexel University. Prior to this position, she was Associate Professor with tenure in the Department of Mechanical and Nuclear Engineering at the Virginia Commonwealth University. She received her Ph.D. and M.S. in Biomedical Engineering as well as B.S. in Chemical Engineering from the University of Virginia. After working in the chemical industry, she served as a research assistant from 2000 to 2006 in the Department of Mechanical and Aerospace Engineering at the University of Virginia. After receiving her Ph.D., she worked, as a postdoctoral fellow, on the development of blood-contacting medical devices in the Department of Cardiothoracic Surgery at Indiana University. She conducts research in experimental and computational fluid mechanics as related to the development of innovative treatment strategies for pediatric and adult patients suffering from heart failure. Therapeutic modalities under development will augment flow and pressure in the: 1) cavopulmonary circulation (pulmonary circulatory support) in patients with single ventricle physiology, and 2) systemic circulation in patients with single ventricle or biventricular circulations as a bridge-to-recovery or transplant. This research addresses complex and unresolved hurdles in the field of congenital heart disease and mechanical circulatory support. Core areas of her research include the application of computational fluid dynamics (CFD) under steady and transient rotational flow conditions, hydraulic performance testing of prototypes for validation of CFD predictions, blood bag experimentation, and animal testing. This research combines broad expertise in engineering, pediatric cardiology, adult cardiology, congenital heart surgery, cardiothoracic surgery, and medical device design and manufacturing.