---
title: Graduate Students
---

%h2 PhD Candidates

.clearfix
	=image_tag "harut-sarkisyan.png", class: "right", style: "margin: 5px;"
	%h3 Harut Sarkisyan
	%h6 Biomedical Engineering
	%p
		Harut Sarkisyan is a current Drexel University graduate student pursuing a PhD in Biomedical Engineering. Harut’s research entails the design and the development of cannulae for the total artificial heart currently under development. The purpose of the cannulae is to connect the inlets and the outlets of the artificial heart to the cardiac tissue (L/R Atria, Aorta, Pulmonary Artery) while also limiting hemolysis, thrombosis, and clotting. When not working in the lab Harut spends his time teaching Physics 100, 101, and 101L to Drexel’s Freshman students. Before attending Drexel University Harut obtained a B.S. Degree in Biosystems Engineering from UC Davis where he designed a pneumatic individually controlled multi-finger hand prosthesis and a M.S. Degree in Mechanical Engineering from CSUS where he designed an EEG/EMG controlled hand prosthesis.
%hr

.clearfix
	=image_tag "default.jpg", class: "right", style: "margin: 5px;"
	%h3 Ellen Garven
	%h6 Biomedical Engineering
	%p Ellen is a PhD student in Biomedical Engineering. She earned her BS as a double major in Physics and Mathematics at Tufts University. Ellen uses computational fluid dynamics to study congenital heart defect therapies, specifically the hemodynamics of systemic-to-pulmonary shunts. When not in lab, Ellen enjoys volunteering and playing the violin.
%hr

.clearfix
	=image_tag "default.jpg", class: "right", style: "margin: 5px;"
	%h3 Matthew Hirschhorn
	%h6 Biomedical Engineering
	%p Matt earned his B.E. in Biomedical Engineering from Vanderbilt University. He is currently a MS/PhD student in Biomedical Engineering and his research focuses on investigating the effects of fluid-structure interactions for a collapsible impeller in an axial pump designed to support Fontan patients. Before returning to school to pursue his doctorate, Matt worked in youth development in Washington, DC. He is passionate about the power of education and plans to remain in academia as a professor upon completion of his PhD.
