---
title: Graduate Students
---

%h2 PhD Candidates
.clearfix
	=image_tag "carson-fox.png", class: "right", style: "margin: 5px;"
	%h3 Carson Fox
	%h6 Biomedical Engineering
	%p
		Carson earned his BS in Mechanical Engineering from Virginia Commonwealth University, minoring in Physics and Mathematics. He is currently an MS/PhD Student in Biomedical Engineering. Carson’s research focuses on the development and testing of mechanical circulatory devices and systems. He also works in conjunction with the Children’s Hospital of Philadelphia designing and building Bio-Bags for fluid analysis. He enjoys working with his hands and designing new and innovative things to help others. Carson hopes one day to work for the Department of Defense to assist in protecting our nation’s citizens and resources.

%hr

.clearfix
	=image_tag "harut-sarkisyan.png", class: "right", style: "margin: 5px;"
	%h3 Harut Sarkisyan
	%h6 Biomedical Engineering
	%p
		Harut Sarkisyan is a current Drexel University graduate student pursuing a PhD in Biomedical Engineering. Harut’s research entails the design and the development of cannulae for the total artificial heart currently under development. The purpose of the cannulae is to connect the inlets and the outlets of the artificial heart to the cardiac tissue (L/R Atria, Aorta, Pulmonary Artery) while also limiting hemolysis, thrombosis, and clotting. When not working in the lab Harut spends his time teaching Physics 100, 101, and 101L to Drexel’s Freshman students. Before attending Drexel University Harut obtained a B.S. Degree in Biosystems Engineering from UC Davis where he designed a pneumatic individually controlled multi-finger hand prosthesis and a M.S. Degree in Mechanical Engineering from CSUS where he designed an EEG/EMG controlled hand prosthesis.

%hr

%h2 PhD Students
.clearfix
	=image_tag "default.jpg", class: "right", style: "margin: 5px;"
	%h3 Ellen Garven
	%h6 Biomedical Engineering
	%p Ellen is a PhD student in Biomedical Engineering. She earned her BS as a double major in Physics and Mathematics at Tufts University. Ellen uses computational fluid dynamics to study congenital heart defect therapies, specifically the hemodynamics of systemic-to-pulmonary shunts. When not in lab, Ellen enjoys volunteering and playing the violin.
%hr

.clearfix
	=image_tag "default.jpg", class: "right", style: "margin: 5px;"
	%h3 Matthew Hirschhorn
	%h6 Biomedical Engineering
	%p Matt earned his B.E. in Biomedical Engineering from Vanderbilt University. He is currently a MS/PhD student in Biomedical Engineering and his research focuses on investigating the effects of fluid-structure interactions for a collapsible impeller in an axial pump designed to support Fontan patients. Before returning to school to pursue his doctorate, Matt worked in youth development in Washington, DC. He is passionate about the power of education and plans to remain in academia as a professor upon completion of his PhD.
%hr


%h2 Masters Students

.clearfix
	=image_tag "default.jpg", class: "right", style: "margin: 5px;"
	%h3 Nohra Murad
	%h6 Biomedical Engineering
	%p
		Nohra is currently a sophomore pursuing a BS/MS in Biomedical Engineering. For her first co-op, she is researching design improvements for the total artificial heart and ventricular assist devices for patients with Fontan physiology. She is quite relieved to have moved from Phoenix, Arizona to Philadelphia, and when not in the lab, you can find her reading with a coffee in hand, cooking, or writing her opinions somewhere.

.clearfix
	=image_tag "default.jpg", class: "right", style: "margin: 5px;"
	%h3 Emma Stenger
	%h6 Biomedical Engineering
	%p Emma is pursuing a BS/MS in Biomedical Engineering at Drexel. For her master's thesis project, she is working on optimizing cage-impeller design combinations for an intravascular axial flow blood pump intended to mechanically support the cavopulmonary circulation. She is originally from Souderton, Pennsylvania and has co-op experience at McGowan Associates in Bala Cynwyd, PA and The 22q and You Center at The Children's Hospital of Philadelphia in Philadelphia, PA. When not in lab, you can find her eating, spending time with friends, or contributing to the Drexel Community.

.clearfix
	=image_tag "default.jpg", class: "right", style: "margin: 5px;"
	%h3 Evan Bisirri
	%h6 Biomedical Engineering
	%p
		Evan is currently a senior pursuing a BS/MS degree in Biomedical Engineering at Drexel. Previously he has worked on research through the Drexel Biomechanics Lab, and the Children's Hospital of Philadelphia CIRP. Evan has a broad range of interests and enjoys exploring subjects outside of Biomedical Engineering; he is also an avid gym goer and home brewer.
%hr

%h2 Research Interns
.clearfix
	=image_tag "default.jpg", class: "right", style: "margin: 5px;"
	%h3 Krianthan Govender
	%h6 Biomedical Engineering
	%p
		Krianthan Govender is a senior BS/MS Biomedical Engineering student with a concentration in Biomechanics and Human Performance Engineering. He has joined the lab in April 2017 as a Pediatric Research Coop and intends to continue contributing to research both inside and outside the scope of Senior Design.
%hr

.clearfix
	=image_tag "default.jpg", class: "right", style: "margin: 5px;"
	%h3 Marina Lilieholm
	%h6 Biomedical Engineering
	%p
		Marina is a sophomore in biomedical engineering concentrating in biomaterials and tissue engineering. She is beginning her first co-op at Bristol Myers Squibb for materials characterization and is working towards medical school. In her spare time, she spends time reading and playing volleyball while tutoring peers.
