---
title: Graduate Students
---

/ %h1= current_page.data.title

%h2 PhD Candidates

.clearfix
	=image_tag "carson-fox.png", class: "right", style: "margin: 5px;"
	%h3 Carson Fox
	%h6 Biomedical Engineering
	%p
		Carson earned his B.S. in Mechanical Engineering from Virginia Commonwealth University, minoring in Physics and Mathematics. He is currently an MS/PhD Student in Biomedical Engineering. Carson’s research focuses on the development and testing of mechanical circulatory devices and systems. He also works in conjunction with the Children’s Hospital of Philadelphia designing and building Bio-Bags for fluid analysis. He enjoys working with his hands and designing new and innovative things to help others. Carson hopes one day to work for the Department of Defense to assist in protecting our nation’s citizens and resources.

	%p
		Contact:
		=mail_to "csf39@drexel.edu"

.clearfix
	=image_tag "default.jpg", class: "right", style: "margin: 5px;"
	%h3 Andrew Abbate
	%h6 Biomedical Sciences
	%p
		Contact:
		=mail_to "aja97@drexel.edu"
%hr

%h2 Masters Students

.clearfix
	=image_tag "default.jpg", class: "right", style: "margin: 5px;"
	%h3 Shravani Birewar
	%h6 Biomedical Engineering
	%p Shravani is currently a BS/MS student in Biomedical Engineering, concentrating in Biomechanics and Human Performance Engineering. She is pursuing a minor in Human Factors and Ergonomics, and is actively involved in the Society of Women Engineers as a Professional Development Chair.
.clearfix
	=image_tag "default.jpg", class: "right", style: "margin: 5px;"
	%h3 Jay Patel
	%h6 Biomedical Engineering
	%p Jay earned his B.S. in Biomedical Engineering at Rutgers University. He is currently pursuing his master’s degree in Biomedical Engineering. Jay is currently working on developing a collapsible impeller using novel materials in order to facilitate ease of entry and removal. Outside of lab, Jay enjoys cooking and discovering different cuisines.
.clearfix
	=image_tag "tiffany-tse.png", class: "right", style: "margin: 5px;"
	%h3 Tiffany Tse
	%h6 Biomedical Engineering
	%p Tiffany is currently in the process of earning her BS and MS degree in biomedical engineering at Drexel University. For her master’s research, she aims to conduct clinical trials at the Children’s Hospital of Philadelphia on patients with the Fontan physiology. In her free time, she enjoys catching up on her TV shows, exploring Philly on her bike, and maintaining a healthy and active lifestyle.
