---
title: PhD Students
---

%h1= current_page.data.title

.clearfix
	=image_tag "carson-fox.png", class: "right", style: "margin: 5px;"
	%h3 Carson Fox
	%h6 Biomedical Engineering
	%p
		Carson earned his B.S. in Mechanical Engineering from Virginia Commonwealth University, minoring in Physics and Mathematics. He is currently an MS/PhD Student in Biomedical Engineering. Carson’s research focuses on the development and testing of mechanical circulatory devices and systems. He also works in conjunction with the Children’s Hospital of Philadelphia designing and building Bio-Bags for fluid analysis. He enjoys working with his hands and designing new and innovative things to help others. Carson hopes one day to work for the Department of Defense to assist in protecting our nation’s citizens and resources.

	%p
		Contact:
		=mail_to "csf39@drexel.edu"

.clearfix
	=image_tag "default.jpg", class: "right", style: "margin: 5px;"
	%h3 Andrew Abbate
	%h6 Biomedical Sciences
	%p
		Contact:
		=mail_to "aja97@drexel.edu"