---
title: Post-Doctoral Fellows
---

%h1= current_page.data.title
.clearfix
	=image_tag "steven-g-chopski.png", class: "right", style: "margin: 5px;"
	%h3 Steven G. Chopski, PhD
	%h6 Biomedical Engineering
	%p
		Steven G. Chopski is from Roanoke, Virginia. He has a Bachelor of Science degree in Biomedical Engineering, a Master of Science degree in Mechanical Engineering, and a PhD in Mechanical Engineering all from Virginia Commonwealth University. He has authored nine publications in scholarly journals. Steven has experience in computational and experimental fluid mechanics with an emphasis on the design and testing of the mechanical circulatory support devices. He has research interests in visualizing cardiovascular fluid dynamics in computational and experimental models. He likes riding his bicycle around Philadelphia and bowling.
	%p
		Contact:
		=mail_to "sgc46@drexel.edu"