---
title: Research Interns
---

%h1= current_page.data.title

.clearfix
	=image_tag "default.jpg", class: "right", style: "margin: 5px;"
	%h3 Kelli McKenna
	%h6 Mechanical Engineering
	%p Kelli is currently a junior at Virginia Commonwealth University pursuing a B.S. in Mechanical Engineering, as well as a minor in Spanish and Mathematical Sciences. Her research within the BioCirc lab consists of optimizing impeller and cage designs for patients with a Fontan physiology. She is passionate about exceptional food, coffee, and most forms of humor.
	%p
		Contact:
		=mail_to "klm429@drexel.edu"

.clearfix
	=image_tag "michelle-riddle.png", class: "right", style: "margin: 5px;"
	%h3 Michelle Riddle
	%h6 Biomedical Engineering
	%p Michelle is currently a sophomore majoring in Biomedical Engineering. She designed, tested, and optimized impeller geometries for patients with a single-ventricle physiology for her Summer 2014 Students Tackling Advanced Research (STAR) project. She enjoys running and going to the beach.
	%p
		Contact:
		=mail_to "mlr349@drexel.edu"