---
title: Research Interns
---

%h1= current_page.data.title

%h3 Sarah Haynes
%h6 Biomedical Engineering
%p
	Sarah Haynes, Biomedical Engineering- Sarah is a junior Biomedical Engineering student at Drexel concentrating in Biomaterials and Tissue Engineering. She is completing her third co-op in the Clinical Immersion/Translational Design program, and aims to work together with clinicians and the BioCirc lab to develop a solution to an unmet clinical need. In her free time, she likes going to concerts and watching lots of Netflix.

%h3 Terence Joa
%h6 Biomedical Science
%p
	Terence earned his BS in biomedical engineering and mechanical engineering at Rensselaer Polytechnic Institute. He is currently studying MS in biomedical science and research focusing on Fontan physiology. In his spare time, he tutors online, building custom computers, or programming computer games.

%h3 Evan Lynn
%h6 Biomedical Engineering
%p
	Evan is a Senior Biomedical Engineering student concentrating in Tissue Engineering. He joined the BioCirc lab in the Spring of 2015 as part of the Translational Design Clinical Immersion Co-op program. He will be developing a device that solves an unmet clinical for his Senior Design project.