---
title: Contribute
---

%h1 Contribute to Biocirc
%p
	The BioCirc Research Laboratory believes in making this world a better place for all. The long-term goal of our research program is to design and develop life-saving and life-changing solutions for infants, children, adolescents, and adults who suffer from severely compromised cardiovascular function. At the same time, we seek new and collaborative ways to engage our community and broaden our local and regional footprint through educational and volunteer-based activities.

%p
	%strong{style: "text-decoration: underline;"} Help Us
	to achieve our goals to make this world a better place!

%p
	If you would like to make a donation, then please contact Amy Throckmorton by phone at
	%span{style: "white-space: nowrap;"}757-646-3790
	or by email at
	=mail_to "amy.throckmorton@drexel.edu"
