---
title: Contact Us
---

%h1= current_page.data.title

%h3 Amy L. Throckmorton, PhD
%p
	Associate Professor
	%br
	School of Biomedical Engineering
	%br
	Science and Health Systems
	%br
	Bossone Research Enterprise Center
	%br
	3141 Chestnut Street, Rm. 718
	%br
	Philadelphia, PA 19104
	%br
	E-mail:
	=mail_to "amy.throckmorton@drexel.edu"
	%br
	Phone: (215) 895-2791
	%br
	Cell: (757) 646-3790
	%br
	Fax: (215) 895-4983