---
title: Opportunities
---
%h1= current_page.data.title

%h3 Undergraduate Level
%p
	%strong Volunteer Research Technician
	%br
	The BioCirc Research Laboratory is always seeking motivated
	undergraduate engineering student volunteers who are willing to
	work 5 to 10 hours per week. Duties will involve assisting
	graduate students with data acquisition and analysis. This
	position is viewed as an entry level with the potential for
	continued and evolving independent research projects. A GPA of
	3.25 and higher is required. Please send a resume and cover letter
	via email to Dr. Amy Throckmorton.

%p
	%strong Senior Design / Independent Research Projects
	%br
	The BioCirc Research Laboratory is currently seeking rising
	junior and senior engineering undergraduates who are interested in
	working on senior or independent research projects. Research
	topics may range from prototype testing and performance evaluation
	to fundamental numerical modeling of cardiophysiology and blood
	pump design and optimization. A GPA of 3.25 and higher is
	required. Please send a resume and cover letter via email to Dr.
	Amy Throckmorton.

%h3 Graduate Level
%p
	Please contact Dr. Throckmorton if you are interested in a
	graduate position in her lab. Email a cover letter, resume, and
	undergraduate academic transcripts to Dr. Amy Throckmorton.